*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.first_nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
.first_nav div{
    height: 50px;
}
.playbutton{
    background-color: #D5D5D5;
}
.applelogo{
    background-color: #E9E9E9;
}
.command{
    background-color: #D5D5D5;
}
.second_nav{
    background-color: #E9E9E9;
    font-size: 13px;
}
.second_nav ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.second_nav ul li {
    list-style: none;
}
.second_nav ul li a{
    text-decoration: none;
    color: black;
}
.third_nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
}
.btn1{
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid rgb(161, 158, 158);
}
.btn2{
    padding: 3px 40px;
    border-radius: 5px;
    border: 1px solid rgb(161, 158, 158);
    cursor: pointer;
}
.btnss button{
    padding: 3px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btnss{
    margin-left: 60px;
}
.btnss button:hover{
    background-color: #007AFF;
    border: #007AFF;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.BG_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.text{
    margin-left: 50px;
    margin-top: 150px;
}

.btn3{
    padding: 7px 20px;
    border-radius: 5px;
    border-style: dotted;
}
.btn4{
    padding: 9px 30px;
    color: white;
    background-color: #007AFF;
    border: none;
    border-radius: 5px;
}